<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link href="./dist/style.min.css" rel="styleSheet" /> -->
</head>

<body>
  <div class="lantern__warpper">
    <div class="lantern__box">
      <div class="lantern__line"></div>
      <div class="lantern__circle">
        <div class="lantern__ellipse">
          <div class="lantern__text">{textFirst}</div>
        </div>
      </div>
      <div class="lantern__tail">
        <div class="lantern__rect"></div>
        <div class="lantern__junction"></div>
      </div>
    </div>
  </div>
  <div class="lantern__warpper lantern__secondary">
    <div class="lantern__box">
      <div class="lantern__line"></div>
      <div class="lantern__circle">
        <div class="lantern__ellipse">
          <div class="lantern__text">{textSecond}</div>
        </div>
      </div>
      <div class="lantern__tail">
        <div class="lantern__rect"></div>
        <div class="lantern__junction"></div>
      </div>
    </div>
  </div>
</body>

</html>